#[rewrite_local]

# Google Search
^https?:\/\/(www\.)?g\.cn(?:[\/?]|$) url 302 https://www.google.com
^https?:\/\/(www\.)?google\.cn(?:[\/?]|$) url 302 https://www.google.com
^https?:\/\/www\.google\.com\.hk(?:[\/?]|$) url 302 https://www.google.com

# Google Maps
^https?:\/\/(ditu|maps)\.google\.cn(?:[\/?]|$) url 302 https://maps.google.com
^https?:\/\/maps\.google\.com\.hk(?:[\/?]|$) url 302 https://maps.google.com

#[mitm]
hostname = www.g.cn, www.google.cn, www.google.com.hk, ditu.google.cn, maps.google.cn, maps.google.com.hk